@import url(https://db.onlinewebfonts.com/c/64be2156f3ac444ddb84393b4605bb38?family=William+Display+Pro+Reg);

@font-face {
  font-family: "Object Sans";
  src: url(../fonts/ObjectSans-Regular.woff2);
}

@import "_media", "_variables";

@function vw($value, $base: 1440) {
  @return calc($value / $base * 100vw);
}

// font-family: "William Display Pro Reg";

// font-family: "Object Sans";

body {
  color: $black;
  font-family: $font-object;
  font-size: 16px;
  line-height: 160%;
  // font-variant-numeric: lining-nums !important;
  // font-feature-settings: "pnum" on, "lnum" on !important;
  // -webkit-font-feature-settings: "pnum" on, "lnum" on !important;
  // -moz-font-feature-settings: "pnum=1", "lnum=1" !important;
  //   font-family: "Open Sans", sans-serif;
}

main {
  overflow: hidden;
}

// * {
//   border: 1px solid black;
// }

// .container {
//   // height: 100%;
//   margin: 0 auto;
//   width: 100%;
//   max-width: vw(1340);
//   padding-inline: vw(10);
// }

.container-m {
  margin: 0 auto;
  width: 100%;
  max-width: vw(940);
  padding-inline: vw(10);

  @include desktop {
    max-width: 940px;
    padding-inline: 10px;
  }
}

.header {
  width: 100%;
  position: absolute;
  z-index: 600;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: vw(60);
  font-family: $font-object;
  font-size: vw(14);

  @include desktop {
    padding: 30px 20px;
  }

  @include tablet {
    padding: 30px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__catalog-wrapper {
    display: flex;
    align-items: center;
  }

  &__catalog {
    margin-right: vw(66);
    color: $black;
    display: flex;
    align-items: center;
    gap: 1px;
    transition: color 0.2s ease-in;
    font-size: vw(14);

    @include desktop {
      margin-right: 75px;
      font-size: 14px;
    }

    @include tablet {
      display: none;
    }

    &:hover {
      color: $rose-gold;
    }
  }

  &__logo {
    margin-right: vw(55);
    width: vw(145);
    fill: currentColor;

    @include desktop {
      width: 145px;
      margin-right: 28px;
    }

    @include tablet {
      color: $white;
    }

    &:hover {
      color: $rose-gold;
    }
  }

  &__tel {
    font-size: vw(14);

    @include desktop {
      font-size: 14px;
    }

    @include tablet {
      display: none;
    }
  }

  &__nav {
    display: none;
    height: 100%;
    z-index: 500;

    &.open {
      display: flex;
      position: fixed;
      inset: 0;
      background-color: $white;
      height: 100%;
    }
  }

  &__columns {
    display: flex;
  }

  &__column {
    border-left: 1px solid $light-grey;
    padding-inline: vw(20);
    width: vw(240);
    transition: all 0.3s ease-in;

    &:hover:not(:first-child) {
      border-color: transparent;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &:hover + .header__column {
      border-left: 1px solid transparent;
    }

    &:last-child {
      border-right: 1px solid $light-grey;
    }

    &:first-child {
      padding-top: vw(60);
      padding-left: vw(60);
    }

    &:not(:first-child) {
      display: flex;
      flex-direction: column;
      padding-top: vw(275);
    }

    &:last-child .header__column-link {
      font-size: vw(18);
    }

    &-title {
      font-family: $font-william;
      font-size: vw(24);
      line-height: auto;
      margin-bottom: vw(26);
    }

    &-image {
      width: vw(145);
    }

    @include tablet {
      width: 145px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: vw(10);
    }

    &-link {
      color: $black;
      font-size: vw(14);
      line-height: auto;
      transition: color 0.2s ease;

      &:hover {
        color: $rose-gold;
      }
    }

    &-time {
      margin-bottom: vw(10);
      font-size: vw(10);
      line-height: auto;
      color: $dark-grey;
    }

    &-mediarow {
      display: flex;
      gap: vw(15);
    }
  }

  &__burger {
    position: relative;
    width: vw(20);
    z-index: 600;
    cursor: pointer;
    transition: all 0.1s ease;

    @include desktop {
      width: 20px;
      margin-right: 10px;
    }

    @include tablet {
      margin-right: 0;
    }

    &:hover span {
      background-color: $rose-gold;
    }

    &.open {
      z-index: 600;
    }

    & span {
      cursor: pointer;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $black;
      border-radius: 10px;
      margin: vw(5) 0;
      cursor: pointer;
      transition: all 0.3s ease-in;

      @include desktop {
        margin: 5px 0;
      }

      @include tablet {
        background-color: $white;
      }
    }
    &.open {
      :nth-child(2) {
        transform: scale(0);
      }

      span:first-child {
        transform: translateY(vw(7)) rotate(135deg);
      }

      span:last-child {
        transform: translateY(vw(-7)) rotate(-135deg);

        @include desktop {
          transform: translateY(-7px) rotate(-135deg);
        }
      }
    }
  }
}

.hero {
  height: 100vh;
  padding-inline: vw(260) vw(140);
  padding-bottom: 30px;

  @include desktop {
    min-height: auto;
    height: 780px;
    padding-inline: 0;
  }
  @include tablet {
    position: relative;
    height: 1023px;
    min-height: 100vh;
    padding-bottom: 0;
  }

  @include mobile {
    height: unset;
    max-height: 100vh;
  }
  &__body {
    display: flex;
    gap: 160px;

    flex-direction: column;
    display: flex;
    height: 100%;

    @include desktop {
      max-width: 844px;
      margin: 0 auto;
    }

    @include tablet {
      padding-top: 0;
      max-width: unset;
    }
  }
  &__social {
    position: absolute;
    left: vw(60);
    width: vw(40);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw(156);
    height: 100%;
    justify-content: flex-end;
    font-size: vw(14);

    @include desktop {
      font-size: 14px;
      left: 20px;
      width: 40px;
      gap: 156px;
      justify-content: center;
    }

    @include tablet {
      padding-bottom: 37px;
      justify-content: flex-end;
      color: white;
      z-index: 100;
    }

    &-list {
      transform: rotate(180deg);
      display: flex;
      writing-mode: vertical-lr;
      gap: 53px;

      @include tablet {
        display: none;
      }
    }
  }
  &__lang {
    display: block;
    margin-bottom: vw(92);

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    display: flex;

    position: relative;
    height: 100%;

    @include tablet {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-inline: 30px;
    }
  }

  &__left {
    // max-width: 480px;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      padding-top: 346px;
      height: fit-content;
      justify-content: unset;
    }

    @include mobile {
      padding-top: 184px;
    }
  }

  &__title {
    &-wrapper {
      position: relative;
      margin-bottom: 19px;

      @include mobile {
        margin-bottom: 15px;
      }
    }

    &-black {
      position: relative;
      z-index: 30;
      overflow: hidden;
      font-family: $font-william;
      font-size: vw(110);
      line-height: 110%;

      @include desktop {
        font-size: 110px;
        line-height: 100%;
      }

      @include tablet {
        z-index: 100;
        color: $white;
      }

      @include mobile {
        font-size: 48px;
        line-height: 50px;
      }

      // max-width: 420px;
    }

    &-border {
      z-index: 100;
      top: 0;
      color: transparent;
      -webkit-text-stroke: 1px $white;
      display: block;
      position: absolute;
      font-family: $font-william;
      font-size: vw(110);
      line-height: 110%;

      @include desktop {
        font-size: 110px;
        line-height: 100%;
      }

      @include tablet {
        display: none;
      }
    }
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: vw(560);

    @include desktop {
      height: 100%;
      width: 427px;
    }

    @include tablet {
      width: 100%;
      top: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 55;
      }
    }
  }

  &__image {
    z-index: 50;
    position: absolute;
    top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    height: calc(100vh - 30px);
    width: vw(560);

    @include desktop {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include tablet {
      border-radius: 0;
      position: relative;
    }
  }

  &__text {
    position: relative;
    z-index: 30;
    font-size: vw(16);
    max-width: vw(380);
    margin-bottom: vw(45);
    line-height: 1.9;
    color: rgba($color: $black, $alpha: 0.8);

    @include desktop {
      max-width: 380px;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 30px;
    }

    @include tablet {
      z-index: 100;
      color: rgba($color: $white, $alpha: 0.8);
      max-width: 465px;
    }

    @include mobile {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 25px;
    }
  }

  &__link-wrapper {
    position: relative;
    z-index: 100;
    color: $black;
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    font-size: vw(14);
    line-height: auto;
    letter-spacing: 10%;
    max-width: fit-content;

    @include desktop {
      font-size: 14px;
    }

    @include tablet {
      color: $white;
    }

    &:hover {
      flex-direction: row-reverse;
      justify-content: start;
    }

    & span {
      content: "";
      width: vw(120);
      height: vw(2);
      border-radius: 10px;
      background-color: $rose-gold;

      @include desktop {
        width: 120px;
        height: 2px;
      }
    }
  }

  &__bg {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.client {
  &__header {
    z-index: 100;
    position: relative;
    margin-block: vw(168) vw(176);

    @include desktop {
      margin-block: 200px 170px;
    }

    @include tablet {
      margin-block: 150px;
    }

    @include mobile {
      margin-block: 135px 160px;
    }

    &::before {
      content: url(../images/qoute_icon.png);
      position: absolute;
      width: vw(120);
      height: vw(99);
      left: vw(-58);
      top: vw(-31);

      @include desktop {
        width: 120px;
        height: 99px;
        left: -58px;
        top: -31px;
      }

      @include tablet {
        left: -18px;
      }

      @include mobile {
        top: -55px;
        transform: scale(0.5);
      }
    }

    & blockquote {
      position: relative;
      z-index: 100;
      font-family: $font-william;
      font-size: vw(60);
      line-height: 130%;
      max-width: vw(898);

      @include desktop {
        font-size: 56px;
        line-height: 80px;
        max-width: 898px;
        margin: 0 auto;
      }

      @include tablet {
        font-size: 40px;
        line-height: 50px;
        padding-inline: 20px;
      }

      @include mobile {
        font-size: 28px;
        line-height: 35px;
      }
    }
  }

  &__body {
    position: relative;
    display: grid;
    grid-template-columns: vw(360) vw(460);
    grid-template-areas:
      "img text1"
      "img text2";
    margin-bottom: vw(290);

    @include desktop {
      grid-template-columns: 360px 460px;
      margin-bottom: 290px;
      height: 641px;
      justify-content: space-evenly;
    }

    @include tablet {
      max-width: 728px;
      grid-template-columns: 310px 334px;
      padding-inline: 20px;
      box-sizing: content-box;
      margin: 0 auto 239px;
      column-gap: 64px;
    }

    @include mobile {
      padding-inline: 0px 21px;
      grid-template-columns: 133px 1fr;
      grid-template-areas:
        "img text1"
        "text2 text2";
      margin-bottom: 136px;
      column-gap: 16px;
    }

    &::after {
      z-index: 100;
      content: url("../images/letter-a.png");
      display: block;
      position: absolute;
      left: vw(-95);
      top: vw(-30);

      @include desktop {
        left: -95px;
        top: -30px;
      }

      @include tablet {
        left: -56px;
        top: -51px;
        transform: scale(0.8);
      }

      @include mobile {
        left: -126px;
        top: -196px;
      }
    }
  }

  &__text {
    font-size: vw(16);
    line-height: 160%;
    width: vw(460);
    color: rgba($color: $black, $alpha: 0.8);

    @include desktop {
      font-size: 16px;
      width: 418px;
    }

    @include tablet {
      width: 334px;
      font-size: 15px;
      line-height: 25px;
    }

    @include mobile {
      width: unset;
      font-size: 14px;
    }

    &-wrapper1 {
      grid-area: text1;

      @include mobile {
        justify-content: unset;
        width: unset;
      }

      & .client__text {
        margin-block: vw(30);

        @include tablet {
          margin-block: 0;
        }

        @include mobile {
          opacity: 0.5;
        }
      }
    }

    &-wrapper2 {
      grid-area: text2;
    }

    &-wrapper1,
    &-wrapper2 {
      margin-left: vw(100);

      @include desktop {
        margin-left: 29px;
        display: flex;
        flex-direction: column;
        justify-content: end;
      }

      @include tablet {
        margin-left: 0;
        max-width: 320px;
      }

      @include mobile {
        max-width: unset;
        justify-content: unset;
      }
    }
  }

  &__cap {
    margin-top: vw(50);
    color: $dark-grey;
    font-size: vw(16);

    @include desktop {
      font-size: 16px;
      margin-top: 50px;
    }

    @include tablet {
      font-size: 18px;
      line-height: 20px;
    }

    @include mobile {
      margin-top: 30px;
      font-size: 14px;
    }
  }

  &__title {
    position: relative;
    z-index: 100;
    top: vw(-5);
    right: vw(140);
    margin-top: vw(20);
    font-family: $font-william;
    font-size: vw(48);
    line-height: 130%;

    @include desktop {
      top: -5px;
      right: 140px;
      margin-top: 20px;
      font-size: 48px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 50px;
      right: 88px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 35px;
    }
  }

  &__link-wrapper {
    margin-top: vw(112);
    display: flex;
    align-items: center;
    gap: vw(16);
    color: $black;
    font-size: vw(14);
    letter-spacing: 10%;
    line-height: 26px;
    text-transform: uppercase;

    @include desktop {
      margin-top: 10px;
      gap: 16px;
      font-size: 14px;
    }

    @include tablet {
      font-size: 12px;
      line-height: 26px;
      gap: 20px;
    }

    & span {
      position: relative;
      content: "";
      width: vw(120);
      height: vw(2);
      background-color: $rose-gold;

      @include desktop {
        width: 120px;
        height: 2px;
      }
    }
  }

  &__image {
    position: absolute;
    z-index: 50;
    width: vw(360);
    height: vw(600);

    @include desktop {
      width: 360px;
      height: 600px;
    }

    @include tablet {
      width: 310px;
      height: 523px;
    }

    @include mobile {
      width: 171px;
      height: 330px;
      left: -40px;
      top: 10px;
    }

    &-wrapper {
      position: relative;
      grid-area: img;

      @include mobile {
        height: 330px;
        width: 155px;
      }
    }
  }

  &__background {
    width: vw(360);
    height: vw(600);
    background-color: $light-grey;
    border-radius: 10px;
    position: absolute;
    top: vw(22);
    right: vw(-52);

    @include desktop {
      width: 360px;
      height: 600px;
      top: 40px;
      right: -40px;
    }

    @include tablet {
      width: 312px;
      height: 518px;
      top: 30px;
      right: -29px;
    }

    @include mobile {
      left: 0;
      width: 133px;
      height: 330px;
      right: 38px;
    }
  }
}

.truth {
  &__header {
    position: absolute;
    z-index: 50;
    width: calc(100% - vw(140));

    @include desktop {
      width: calc(100% - 47px);
      height: 500px;
    }

    @include tablet {
      width: calc(100% - 30px);
    }

    @include mobile {
      width: 100%;
    }
  }

  &__image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    @include desktop {
      height: 500px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#222222, 0.45);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      @include mobile {
        border-radius: 0;
      }
    }
  }

  &__bg {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-repeat: no-repeat;
    width: 100%;

    @include desktop {
      height: 500px;
    }

    @include mobile {
      border-radius: 0;
    }
  }

  &__cap {
    display: block;
    color: $white;
    opacity: 0.8;
    font-size: vw(18);
    line-height: vw(20);
    margin-bottom: vw(19);

    @include desktop {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 19px;
    }

    @include mobile {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-family: $font-william;
    color: $white;
    font-size: vw(48);
    line-height: 130%;
    margin-bottom: vw(56);

    @include desktop {
      font-size: 46px;
      line-height: 70px;
      margin-bottom: 40px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 50px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 20px;
    }

    &-wrapper {
      grid-area: title;
      margin-top: vw(101);

      @include desktop {
        margin-top: 102px;
      }

      @include tablet {
        margin-top: 50px;
      }
    }
  }

  &__top-text {
    color: $white;
    font-size: vw(16);
    line-height: 160%;
    opacity: 0.8;
    margin-bottom: vw(246);
    grid-area: desc;

    @include desktop {
      font-size: 16px;
      margin-bottom: 238px;
    }

    @include tablet {
      margin-bottom: 225px;
    }

    @include mobile {
      margin-bottom: 35px;
    }
  }

  &__change {
    grid-area: change;

    @include mobile {
      & .truth__bottom-text {
        margin-bottom: 20px;
      }
    }
  }

  &__estetic {
    grid-area: estetic;
  }

  &__body {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: vw(360) vw(439);
    grid-template-areas:
      "title img"
      "change desc"
      "change estetic";
    column-gap: vw(121);

    @include desktop {
      column-gap: 47px;
      grid-template-columns: 360px 439px;
    }

    @include tablet {
      grid-template-columns: repeat(2, 334px);
      column-gap: 40px;
      padding-inline: 30px;
      justify-content: space-around;
    }

    @include mobile {
      column-gap: 0px;
      grid-template-columns: 1fr 115px;
      grid-template-areas:
        "title img"
        "desc desc"
        "change change"
        "estetic estetic";
    }

    &::after {
      content: url("../images/letter-d.png");
      display: block;
      position: absolute;
      left: vw(-138);
      top: vw(-161);

      @include desktop {
        left: -84px;
        top: -161px;
      }

      @include tablet {
        left: -77px;
        top: -156px;
        transform: scale(0.8);
      }
    }
  }

  &__left {
    &-image {
      width: vw(360);
      height: vw(600);
      border-radius: 10px;
      box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.08);

      @include desktop {
        width: 360px;
        height: 600px;
      }

      @include tablet {
        width: 334px;
        height: 567px;
      }

      @include mobile {
        width: 315px;
        height: 320px;
      }
    }
  }

  &__right {
    &-bottom-image,
    &-top-image {
      border-radius: 10px;
      box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.08);
    }

    &-top-image {
      width: vw(200);
      height: vw(350);
      display: block;
      margin: vw(-88) auto 0;
      grid-area: img;

      @include desktop {
        width: 200px;
        height: 350px;
        margin: -88px auto 0;
      }

      @include tablet {
        width: 153px;
        height: 268px;
      }

      @include mobile {
        width: 114px;
        height: 200px;
        margin: -40px auto 0;
      }
    }

    &-bottom-image {
      width: vw(439);
      height: vw(300);

      @include desktop {
        width: 439px;
        height: 300px;
      }

      @include tablet {
        width: 334px;
        height: 228px;
      }

      @include mobile {
        width: 315px;
        height: 320px;
      }
    }
  }

  &__subtitle {
    margin-top: vw(40);
    font-family: $font-william;
    font-size: vw(30);
    line-height: vw(40);

    @include desktop {
      margin-top: 40px;
      font-size: 30px;
      line-height: 40px;
    }

    @include tablet {
      line-height: 35px;
    }

    @include mobile {
      margin-top: 20px;
    }
  }

  &__bottom-text {
    color: #666666;
    margin-top: vw(28);
    font-size: vw(16);
    line-height: 160%;

    @include desktop {
      margin-top: 20px;
      font-size: 16px;
    }
  }
}

.new {
  &__body {
    padding-block: vw(200) vw(212);
    position: relative;

    @include desktop {
      padding-block: 200px 212px;
    }

    @include tablet {
      padding-inline: 20px;
    }

    &::after {
      content: url("../images/letter-f.png");
      display: block;
      position: absolute;
      left: -115px;
      top: 60px;

      @include desktop {
        left: -71px;
        top: 41px;
      }

      @include tablet {
        transform: scale(0.8);
      }
    }
  }

  &__top {
    margin-bottom: vw(46);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      margin-bottom: 38px;
    }

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 28px;
    }
  }

  &__title {
    font-family: $font-william;
    font-size: vw(48);
    line-height: 130%;

    @include desktop {
      font-size: 46px;
      line-height: 70px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 35px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 35px;
    }
  }

  &__scroll {
    width: vw(60);
    height: vw(10);

    @include desktop {
      width: 60px;
      height: 10px;
    }
  }

  &__scroller {
    display: flex;
    gap: vw(40);

    @include desktop {
      gap: 40px;
    }

    @include mobile {
      display: none;
    }
  }

  &__button {
    &:hover {
      color: $rose-gold;
    }
  }

  &__basket-button-svg {
    width: vw(17);
    height: vw(20);

    @include desktop {
      width: 17px;
      height: 20px;
    }
  }

  &__list {
    display: flex;
    gap: vw(40);
    min-width: 920px;

    @include desktop {
      gap: 40px;
    }

    @include mobile {
      gap: 20px;
      justify-content: unset;
    }
  }

  &__item {
    transition: all 0.2s ease-in-out;

    @include tablet {
      // max-width: 240px;
    }

    &:hover {
      transform: translateY(vw(-5));
    }

    &-image {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: vw(280);
      aspect-ratio: 1;

      @include desktop {
        width: 280px;
      }

      @include tablet {
        width: 240px;
      }

      @include mobile {
        width: 248px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 170px;
      padding: 17px 24px 31px 20px;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &-title {
      max-width: vw(231);
      font-family: $font-william;
      font-size: vw(24);
      line-height: auto;
      margin-bottom: vw(4);

      @include desktop {
        max-width: 231px;
        font-size: 24px;
        margin-bottom: 4px;
      }

      @include tablet {
        font-size: 28px;
        line-height: 35px;
      }

      @include mobile {
        font-size: 24px;
        line-height: auto;
      }
    }

    &-cap {
      font-size: vw(14);
      line-height: 140%;
      opacity: 0.5;

      @include desktop {
        font-size: 14px;
      }

      @include mobile {
        line-height: 140%;
      }
    }

    &-price {
      display: flex;
      justify-content: space-between;
      font-size: vw(16);
      line-height: 26px;

      @include desktop {
        font-size: 16px;
      }
    }
  }

  &__basket-button {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.material {
  position: relative;

  &__body {
    position: relative;
    display: grid;
    grid-template-areas:
      "title img"
      "text img";
    justify-content: space-between;
    column-gap: vw(117);

    @include desktop {
      column-gap: 50px;
      padding-inline: 41px;
    }

    @include tablet {
      margin: 0 auto;
      max-width: 768px;
      padding-inline: 20px;
      column-gap: 40px;
    }

    @include mobile {
      column-gap: 12px;
      grid-template-areas:
        "title img"
        "text text";
      grid-template-columns: 1fr 114px;
    }

    &::after {
      content: url("../images/letter-m.png");
      display: block;
      position: absolute;
      left: -133px;
      top: -145px;

      @include tablet {
        transform: scale(0.8);
        left: -120px;
      }

      @include mobile {
        z-index: 100;
        top: -200px;
      }
    }
  }

  &__info {
    grid-area: title;
    height: vw(163);

    @include desktop {
      height: 178px;
    }

    @include tablet {
      height: 140px;
    }

    @include mobile {
      height: 110px;
    }
  }

  &__bg {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 50;
    position: absolute;
    top: 180px;
    right: 0;
    width: vw(960);
    height: vw(600);

    @include desktop {
      width: calc(50% + 238px);
      height: 600px;
    }

    @include tablet {
      top: 0;
      height: 660px;
    }

    @include mobile {
      top: -40px;
      width: 100%;
      border-radius: 0;
    }
  }

  &__cap {
    position: relative;
    z-index: 100;
    color: $dark-grey;
    font-size: vw(18);
    line-height: vw(20);
    display: block;
    margin-bottom: vw(19);

    @include desktop {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__title {
    z-index: 100;
    position: relative;
    font-size: vw(48);
    line-height: 130%;
    margin-bottom: vw(67);

    @include desktop {
      font-size: 46px;
      line-height: 70px;
      margin-bottom: 40px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 45px;
    }

    @include mobile {
      font-size: 22px;
      line-height: 35px;
      margin-bottom: 20px;
    }
  }

  &__text {
    font-size: vw(16);
    z-index: 100;
    position: relative;
    line-height: 1.88;
    max-width: vw(434);
    color: rgba($color: $black, $alpha: 0.8);
    grid-area: text;

    @include desktop {
      font-size: 16px;
      max-width: 434px;
    }

    @include tablet {
      max-width: 330px;
    }

    @include mobile {
      max-width: unset;
      font-size: 14px;
    }
  }

  &__image {
    width: vw(360);
    height: vw(600);
    border-radius: 10px;
    z-index: 100;
    position: relative;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
    grid-area: img;

    @include desktop {
      width: 360px;
      height: 600px;
    }

    @include tablet {
      width: 334px;
      height: 585px;
      margin-top: -80px;
    }

    @include mobile {
      width: 114px;
      height: 200px;
    }
  }
}

.giza {
  &__body {
    margin-top: vw(380);
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: repeat(2, vw(440));
    grid-template-areas:
      "title text"
      "img text"
      "img items";
    column-gap: vw(38);

    @include desktop {
      margin-top: 380px;
      grid-template-columns: repeat(2, 440px);
      column-gap: 2px;
    }

    @include tablet {
      max-width: 768px;
      margin: 180px auto 0;
      grid-template-columns: 1fr 334px;
      padding-inline: 20px;
      column-gap: 40px;
      grid-template-areas:
        "title title"
        "img text"
        "img items";
    }

    @include mobile {
      column-gap: 0;
      position: relative;
      z-index: 200;
      margin: 35px auto 0;
      grid-template-columns: 1fr;
      grid-template-areas:
        "img img"
        "title title"
        "text text"
        "items items";
    }
  }

  &__title {
    font-family: $font-william;
    font-size: vw(48);
    line-height: 130%;
    margin-bottom: vw(46);
    grid-area: title;

    @include desktop {
      font-size: 46px;
      line-height: 70px;
      margin-bottom: 30px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 40px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 20px;
    }
  }

  &__image-block {
    position: relative;
    grid-area: img;

    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__image {
    position: relative;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
    width: vw(360);
    height: vw(600);

    @include desktop {
      width: 360px;
      height: 600px;
    }

    @include tablet {
      width: 310px;
      height: 523px;
    }

    @include mobile {
      width: 315px;
      height: 320px;
    }
  }

  &__background {
    z-index: 50;
    position: absolute;
    bottom: vw(-41);
    left: vw(40);
    border-radius: 10px;
    background-color: $light-grey;
    width: vw(360);
    height: vw(560);

    @include desktop {
      bottom: -41px;
      left: 40px;
      width: 360px;
      height: 560px;
    }

    @include tablet {
      top: 26px;
      left: 20px;
      width: 312px;
      height: 518px;
    }

    @include mobile {
      display: none;
    }
  }

  &__text {
    margin-top: vw(27);
    opacity: 0.8;
    grid-area: text;
    font-size: vw(16);

    @include desktop {
      margin-top: 10px;
      font-size: 16px;
    }

    @include tablet {
      margin-top: 0;
      font-size: 15px;
      line-height: 25px;
    }

    @include mobile {
      color: rgba(51, 51, 51, 0.8);
      font-size: 14px;
    }
  }

  &__list {
    margin-top: vw(57);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: vw(43);
    height: fit-content;
    grid-area: items;

    @include desktop {
      row-gap: 40px;
      margin-top: 60px;
    }

    @include tablet {
      margin-top: 30px;
      gap: 30px 20px;
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 30px 20px;
      margin-top: 40px;
    }
  }

  &__item {
    max-width: vw(202);

    @include desktop {
      max-width: 202px;
    }

    @include tablet {
      max-width: 157px;
    }

    @include mobile {
      max-width: unset;
    }

    &-number {
      font-size: vw(36);
      line-height: vw(40);
      color: $rose-gold;
      margin-bottom: vw(10);

      @include desktop {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 10px;
      }

      @include tablet {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 5px;
      }

      @include mobile {
        margin-bottom: 10px;
      }
    }

    &-title {
      font-family: $font-william;
      font-size: vw(24);
      line-height: auto;
      margin-bottom: vw(15);

      @include desktop {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      @include tablet {
        font-size: 20px;
        line-height: 25px;
      }
    }

    &-text {
      font-size: vw(16);
      opacity: 0.8;
      max-width: vw(189);

      @include desktop {
        font-size: 16px;
        line-height: 28px;
        max-width: 189px;
      }

      @include tablet {
        font-size: 14px;
        line-height: 20px;
        max-width: 170px;
      }
      @include mobile {
        font-size: 12px;
        max-width: unset;
      }
    }
  }
}

.quote {
  &__body {
    margin-top: vw(200);
    position: relative;

    @include desktop {
      margin-top: 200px;
    }

    @include tablet {
      margin-top: 150px;
    }

    @include mobile {
      margin-top: 90px;
    }

    &::before {
      content: url("../images/quote-top.png");
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;

      @include tablet {
        transform: translateX(-50%) scale(0.7);
        top: -76px;
      }
    }

    &::after {
      content: url("../images/quote-bottom.svg");
      display: block;
      position: absolute;
      height: 158px;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;

      @include tablet {
        transform: translateX(-50%) scale(0.7);
      }
    }
  }

  &__image-wrapper {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#222222, 0.65);
    }
  }

  &__content {
    display: flex;
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    @include tablet {
      padding-inline: 30px;
    }
  }

  &__bg {
    width: 100%;
    height: vw(650);

    @include desktop {
      height: 650px;
    }

    @include tablet {
      height: 470px;
    }
  }

  &__text {
    color: $white;
    font-family: $font-william;
    font-size: vw(60);
    line-height: 130%;
    max-width: vw(920);

    @include desktop {
      max-width: 920px;
      font-size: 50px;
      line-height: auto;
    }

    @include tablet {
      font-size: 40px;
      line-height: 45px;
    }

    @include mobile {
      font-size: 26px;
      line-height: 30px;
    }
  }

  &__author {
    color: $white;
    font-family: $font-william;
    font-style: normal;
    font-size: vw(20);
    line-height: auto;

    @include desktop {
      font-size: 20px;
    }

    @include tablet {
      font-size: 16px;
    }
  }

  &__footer {
    margin-top: vw(10);
    display: flex;
    flex-direction: column;
    gap: vw(10);

    @include desktop {
      margin-top: 10px;
      gap: 10px;
    }
  }

  &__footer:last-child {
    color: $white;
    opacity: 0.8;
    font-size: vw(12);
    letter-spacing: 10%;
    line-height: auto;

    @include desktop {
      font-size: 12px;
    }

    @include tablet {
      font-size: 10px;
    }
  }

  &__arrow-left,
  &__arrow-right {
    width: vw(200);
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    @include tablet {
      display: none;
    }

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.2);
    }
  }

  &__arrow-left {
    justify-content: end;
  }

  &__arrow-right {
    justify-content: start;
  }
}

.advantages {
  &__body {
    position: relative;
    margin-top: vw(200);

    @include desktop {
      margin-top: 200px;
    }

    @include tablet {
      width: fit-content;
      max-width: 768px;
      margin: 125px auto 0;
      padding-inline: 20px;
    }

    @include mobile {
      margin-top: 140px;
    }

    &::after {
      content: url("../images/letter-a.png");
      display: block;
      position: absolute;
      left: -135px;
      top: -195px;

      @include tablet {
        left: -112px;
        top: -210px;
        transform: scale(0.8);
      }
    }
  }

  &__cap {
    position: relative;
    z-index: 100;
    display: block;
    font-size: vw(18);
    line-height: vw(20);
    color: $dark-grey;
    margin-bottom: vw(20);

    @include desktop {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__title {
    position: relative;
    z-index: 100;
    font-family: $font-william;
    font-size: vw(48);
    line-height: 130%;
    margin-bottom: vw(53);
    max-width: vw(460);

    @include desktop {
      font-size: 46px;
      line-height: 70px;
      margin-bottom: 37px;
      max-width: 460px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 35px;
      margin-bottom: 40px;
      max-width: unset;
    }

    @include mobile {
      font-size: 28px;
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include tablet {
      justify-content: unset;
      width: fit-content;
      gap: 40px;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    max-width: vw(281);

    @include desktop {
      max-width: 281px;
    }

    @include tablet {
      max-width: 209px;
    }

    @include mobile {
      max-width: unset;
    }

    &:first-child {
      margin-top: vw(23);

      @include desktop {
        margin-top: 23px;
      }

      @include mobile {
        margin-top: unset;
      }
    }

    &:nth-child(2) {
      margin-top: vw(61);

      @include desktop {
        margin-top: 61px;
      }
    }

    &:last-child {
      @include mobile {
        margin-top: 55px;
      }
    }

    &:first-child .advantages__item-image {
      margin-bottom: vw(13);

      @include desktop {
        margin-bottom: 13px;
      }

      @include mobile {
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
      }
    }
    &:nth-child(2) .advantages__item-image {
      margin-left: vw(-10);
      margin-bottom: vw(22);

      @include desktop {
        margin-left: -10px;
        margin-bottom: 22px;
      }

      @include mobile {
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
      }
    }
    &:last-child .advantages__item-image {
      margin-bottom: vw(11);

      @include desktop {
        margin-bottom: 11px;
      }

      @include mobile {
        margin-bottom: 20px;
        width: 56px;
        height: 56px;
      }
    }

    &-title {
      font-family: $font-william;
      font-size: vw(24);
      line-height: auto;
      margin-bottom: vw(20);

      @include desktop {
        margin-bottom: 20px;
        font-size: 24px;
      }

      @include mobile {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 25px;
      }
    }

    &-text {
      font-size: vw(16);
      line-height: vw(28);
      color: #000000;
      opacity: 0.8;

      @include desktop {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}

.service {
  @include desktop {
    padding-inline: 20px;
  }
  &__body {
    margin-top: vw(200);
    position: relative;
    display: flex;
    gap: vw(40);

    @include desktop {
      gap: 30px;
      margin: 200px auto 0;
      min-width: 920px;
    }

    @include tablet {
      gap: 63px;
      margin-top: 150px;
      min-width: unset;
      max-width: 708px;
    }

    @include mobile {
      display: grid;
      grid-template-columns: 120px 1fr;
      gap: 18px;
      margin-top: 184px;
    }

    &::after {
      content: url(../images/letter-s.png);
      position: absolute;
      z-index: 100;
      left: -91px;
      top: -127px;

      @include tablet {
        transform: scale(0.8);
      }
    }
  }

  &__left,
  &__right {
    width: vw(440);
    min-width: 420px;

    @include tablet {
      width: unset;
      min-width: unset;
    }
  }

  &__left {
    position: relative;

    @include desktop {
      max-width: 420px;
    }

    @include tablet {
      min-width: 310px;
      max-width: 310px;
    }

    @include mobile {
      min-width: 155px;
      left: 0px;
    }
  }

  &__image {
    position: relative;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
    width: vw(399);
    height: vw(609);

    @include desktop {
      width: 380px;
      height: 580px;
    }

    @include tablet {
      width: 310px;
      height: 523px;
    }

    @include mobile {
      width: 155px;
      height: 330px;
      left: -53px;
    }
  }

  &__background {
    position: absolute;
    z-index: 50;
    left: 79px;
    top: 89px;
    width: vw(360);
    height: vw(560);
    background-color: $light-grey;
    border-radius: 10px;

    @include desktop {
      width: 344px;
      height: 580px;
      top: 39px;
    }

    @include tablet {
      width: 312px;
      height: 518px;
      top: 30px;
      left: 25px;
    }
    @include mobile {
      width: 131px;
      height: 330px;
      top: 20px;
      left: -11px;
    }
  }

  &__right {
    margin-top: vw(49);

    @include desktop {
      max-width: 398px;
      margin-top: 49px;
    }

    @include tablet {
      margin-top: 32px;
      max-width: 334px;
      min-width: 334px;
    }

    @include mobile {
      margin-top: 30px;
      max-width: unset;
      min-width: unset;
    }
  }

  &__cap {
    margin-bottom: vw(20);
    display: block;
    font-size: vw(18);
    line-height: vw(20);
    color: $dark-grey;

    @include desktop {
      margin-bottom: 20px;
      font-size: 18px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  &__title {
    z-index: 100;
    position: relative;
    right: vw(161);
    font-family: $font-william;
    font-size: vw(48);
    line-height: 130%;
    margin-bottom: vw(37);

    @include desktop {
      font-size: 46px;
      line-height: 60px;
      right: 97px;
      margin-bottom: 41px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 30px;
      width: 420px;
    }

    @include mobile {
      max-width: 248px;
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 10px;
      margin-left: -60px;
      right: 0;
    }
  }

  &__text {
    font-size: vw(16);
    line-height: vw(28);

    @include desktop {
      font-size: 16px;
      line-height: 28px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.product {
  &__body {
    position: relative;
    margin-top: vw(200);

    @include desktop {
      margin-top: 230px;
    }

    @include tablet {
      margin-top: 150px;
    }

    @include mobile {
      margin-top: 145px;
    }

    &::after {
      z-index: 50;
      position: absolute;
      left: -92px;
      top: -127px;
      content: url(../images/letter-p.png);

      @include tablet {
        left: -61px;
        transform: scale(0.8);
      }
    }
  }

  &__list {
    display: grid;
    grid-template-rows: auto repeat(2, vw(280));
    grid-template-areas:
      "title title title"
      "beauty bedsheets bedspreads"
      "pillowcase bedsheets bathroom";
    gap: vw(40);

    @include desktop {
      grid-template-rows: auto repeat(2, 280px);
      gap: 40px;
    }

    @include tablet {
      margin: 0 auto;
      width: fit-content;
      grid-template-rows: auto repeat(2, 210px);
    }

    @include mobile {
      padding-inline: 20px;
      width: unset;
      grid-template-rows: auto;
      align-items: end;
      grid-template-areas:
        "title bedsheets"
        "pillowcase bedsheets"
        "bedspreads bedspreads"
        "beauty bathroom";
      gap: 20px;
    }
  }

  &__title {
    position: relative;
    z-index: 100;
    font-family: $font-william;
    font-size: vw(48);
    line-height: 130%;
    grid-area: title;

    @include desktop {
      font-size: 48px;
      line-height: 70px;
    }

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 30px;
    }
  }

  &__item {
    &-bedsheets {
      margin-top: vw(72);
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 80%,
          rgba(51, 51, 51, 0.3) 100%
        ),
        url(../images/badsheet.png) center center no-repeat;
      width: vw(280);
      height: vw(587);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      display: flex;
      grid-area: bedsheets;
      align-items: end;
      padding-bottom: 20px;
      padding-left: 20px;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);

      @include desktop {
        width: 280px;
        height: 587px;
        margin-top: 72px;
      }

      @include tablet {
        margin-top: 32px;
        width: 213px;
        height: 447px;
        padding-bottom: 15px;
        padding-left: 15px;
      }

      @include mobile {
        margin-top: 0;
        width: 100%;
        height: 280px;
        padding: 10px;
      }
    }

    &-beauty {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 50%,
          rgba(51, 51, 51, 0.3) 100%
        ),
        url(../images/beauty.png) center center no-repeat;
      border-radius: 10px;
      grid-area: beauty;
      display: flex;
      align-items: end;
      padding-bottom: 20px;
      padding-left: 20px;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &-pillowcase {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 50%,
          rgba(51, 51, 51, 0.3) 100%
        ),
        url(../images/pillowcase.png) center center no-repeat;

      border-radius: 10px;
      display: flex;
      grid-area: pillowcase;
      align-items: end;
      padding-bottom: 20px;
      padding-left: 20px;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &-bedspreads {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 50%,
          rgba(51, 51, 51, 0.3) 100%
        ),
        url(../images/bedspreads.png) center center no-repeat;
      margin-top: vw(-107);
      width: vw(281);
      height: vw(287);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      display: flex;
      grid-area: bedspreads;
      align-items: end;
      padding-bottom: 20px;
      padding-left: 20px;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);

      @include desktop {
        margin-top: -107px;
        width: 281px;
        height: 287px;
      }

      @include tablet {
        padding-bottom: 18px;
        padding-left: 15px;
        margin-top: -94px;
        width: 209px;
        height: 213px;
      }

      @include mobile {
        margin-top: 0;
        padding-bottom: 12px;
        padding-left: 11px;
        width: 100%;
        height: 147px;
      }
    }

    &-bathroom {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 50%,
          rgba(51, 51, 51, 0.3) 100%
        ),
        url(../images/bathroom.png) top center;
      margin-top: vw(-99);
      border-radius: 10px;
      display: flex;
      grid-area: bathroom;
      align-items: end;
      padding-bottom: 20px;
      padding-left: 20px;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);

      @include desktop {
        margin-top: -99px;
      }

      @include mobile {
        margin-top: 0;
      }
    }

    &-link {
      font-family: $font-william;
      font-size: vw(24);
      line-height: auto;
      color: $white;

      @include desktop {
        font-size: 24px;
      }

      @include tablet {
        font-size: 20px;
      }

      @include mobile {
        font-size: 18px;
      }
    }

    &-beauty,
    &-pillowcase,
    &-bathroom {
      width: vw(280);
      aspect-ratio: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include desktop {
        width: 280px;
      }

      @include tablet {
        width: 210px;
        padding-left: 13px;
        padding-bottom: 15px;
      }

      @include mobile {
        aspect-ratio: unset;
        height: 146px;
        width: 100%;
        padding: 10px;
      }
    }
  }
}

.subscribe {
  background-image: url(../images/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__background {
    margin-top: vw(200);
    background-color: rgba(#333333, 0.6);
    height: 100%;
    padding: vw(70) 0 vw(95);

    @include desktop {
      padding: 70px 0 95px;
      margin-top: 200px;
    }

    @include tablet {
      padding: 71px 0 90px;
      margin-top: 150px;
    }

    @include mobile {
      margin-top: 70px;
      padding: 71px 0 81px;
    }
  }

  &__body {
    text-align: center;
  }

  &__title {
    font-family: $font-william;
    font-size: vw(48);
    line-height: 130%;
    margin-bottom: vw(30);
    color: $white;

    @include desktop {
      font-size: 48px;
      margin-bottom: 20px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 30px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 30px;
    }
  }

  &__text {
    margin: 0 auto;
    max-width: vw(318);
    margin-bottom: vw(42);
    font-size: vw(16);
    line-height: 130%;
    color: $white;

    @include desktop {
      max-width: 318px;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 28px;
    }

    @include tablet {
      margin-bottom: 39px;
      font-size: 15px;
      line-height: 25px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  input,
  &__button {
    height: vw(50);
    border-radius: 5px;

    @include desktop {
      height: 50px;
    }

    @include tablet {
      max-width: 314px;
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 30px;
  }

  input {
    padding-left: vw(19);
    width: vw(360);
    background-color: $white;

    @include desktop {
      width: 360px;
      padding-left: 19px;
    }

    &::placeholder {
      font-size: vw(14);
      line-height: vw(26);
      color: #c4c4c4;

      @include desktop {
        font-size: 14px;
        line-height: 26;
      }
    }
  }

  &__name {
    margin-bottom: vw(20);

    @include desktop {
      margin-bottom: 20px;
    }
  }

  &__email {
    margin-bottom: vw(30);

    @include desktop {
      margin-bottom: 30px;
    }
  }

  &__button {
    width: vw(360);
    font-size: vw(14);
    line-height: vw(30);
    text-transform: uppercase;
    padding-inline: vw(115);
    background-color: $rose-gold;
    color: $white;
    transition: all 0.2s ease-in-out;

    @include desktop {
      width: 360px;
      font-size: 14px;
      line-height: 30px;
      padding-inline: 115px;
    }

    @include tablet {
      padding-inline: 90px;
    }

    &:hover {
      background-color: $light-grey;
      color: $rose-gold;
    }
  }
}

.footer {
  background: #222222;
  line-height: normal;

  &__body {
    padding-block: vw(51) vw(50);

    @include desktop {
      padding-block: 51px 40px;
    }

    @include tablet {
      padding-block: 39px 52px;
    }

    @include mobile {
      padding-block: 39px 20px;
    }
  }

  &__columns {
    display: grid;
    grid-template-rows: vw(40) 1fr;
    grid-template-columns: repeat(4, vw(207));
    grid-template-areas:
      "logo catalog about more"
      "contacts catalog about more";
    justify-content: space-between;
    margin-bottom: vw(73);

    @include desktop {
      grid-template-columns: repeat(4, 207px);
      grid-template-rows: 40px 1fr;
      margin-bottom: 73px;
    }

    @include tablet {
      grid-template-columns: repeat(3, 207px);
      grid-template-rows: auto auto;
      grid-template-areas:
        "catalog about more"
        "logo contacts .";
      gap: 18px 42px;
      padding-inline: 30px;
      max-width: 708px;
      margin: 0 auto;
    }

    @include mobile {
      row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto 60px auto;
      grid-template-areas:
        "catalog"
        "about"
        "more"
        "logo"
        "contacts";
    }
  }

  &__logo {
    width: vw(146);
    height: vw(40);
    grid-area: logo;

    @include desktop {
      width: 145px;
      height: 40px;
    }

    @include tablet {
      align-self: center;
    }
  }

  &__contacts {
    grid-area: contacts;

    margin-top: vw(69.6);

    @include desktop {
      margin-top: 69.6px;
    }

    @include tablet {
      margin-top: 0;
    }
  }

  &__catalog,
  &__about,
  &__more {
    margin-top: vw(8);

    @include desktop {
      margin-top: 8px;
    }
  }

  &__catalog {
    grid-area: catalog;
  }

  &__about {
    grid-area: about;
  }

  &__more {
    grid-area: more;
  }

  &__title {
    font-size: vw(16);
    line-height: auto;
    color: $white;
    opacity: 0.5;
    margin-bottom: vw(18.24);

    @include desktop {
      font-size: 16px;
      margin-bottom: 18.24px;
    }

    @include tablet {
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  &__phone {
    display: block;
    color: $white;
    font-size: vw(24);
    line-height: auto;
    margin-bottom: vw(14.41);
    transition: color 0.2s ease-in;

    @include desktop {
      font-size: 24px;
      margin-bottom: 14.41px;
    }

    @include tablet {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 30px;
    }

    &:hover {
      color: $rose-gold;
    }
  }

  &__timing {
    color: $white;
    opacity: 0.5;
    font-size: vw(16);
    line-height: auto;

    @include desktop {
      font-size: 16px;
    }
  }

  &__link {
    font-size: vw(16);
    line-height: auto;
    color: $white;
    transition: color 0.2s ease-in;

    @include desktop {
      font-size: 16px;
    }

    &:hover {
      color: $rose-gold;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: vw(15);

    @include desktop {
      gap: 15px;
    }
  }

  &__copyright {
    color: $white;
    opacity: 0.5;
    font-size: vw(16);
    line-height: auto;
    display: flex;
    justify-content: center;

    @include desktop {
      font-size: 16px;
    }

    @include tablet {
      display: none;
    }
  }
}
