@import url(https://db.onlinewebfonts.com/c/64be2156f3ac444ddb84393b4605bb38?family=William+Display+Pro+Reg);

@font-face {
  font-family: "Object Sans";
  src: url(../fonts/ObjectSans-Regular.woff2);
}

body {
  color: #333333;
  font-family: "Object Sans";
  font-size: 16px;
  line-height: 160%;
}

main {
  overflow: hidden;
}

.container-m {
  margin: 0 auto;
  width: 100%;
  max-width: 65.2777777778vw;
  padding-inline: 0.6944444444vw;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 600;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 4.1666666667vw;
  font-family: "Object Sans";
  font-size: 0.9722222222vw;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__catalog-wrapper {
  display: flex;
  align-items: center;
}

.header__catalog {
  margin-right: 4.5833333333vw;
  color: #333333;
  display: flex;
  align-items: center;
  gap: 1px;
  transition: color 0.2s ease-in;
  font-size: 0.9722222222vw;
}

.header__catalog:hover {
  color: #ba967d;
}

.header__logo {
  margin-right: 3.8194444444vw;
  width: 10.0694444444vw;
  fill: currentColor;
}

.header__logo:hover {
  color: #ba967d;
}

.header__tel {
  font-size: 0.9722222222vw;
}

.header__nav {
  display: none;
  height: 100%;
  z-index: 500;
}

.header__nav.open {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: #ffffff;
  height: 100%;
}

.header__columns {
  display: flex;
}

.header__column {
  border-left: 1px solid #eeebeb;
  padding-inline: 1.3888888889vw;
  width: 16.6666666667vw;
  transition: all 0.3s ease-in;
}

.header__column:hover:not(:first-child) {
  border-color: transparent;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
}

.header__column:hover + .header__column {
  border-left: 1px solid transparent;
}

.header__column:last-child {
  border-right: 1px solid #eeebeb;
}

.header__column:first-child {
  padding-top: 4.1666666667vw;
  padding-left: 4.1666666667vw;
}

.header__column:not(:first-child) {
  display: flex;
  flex-direction: column;
  padding-top: 19.0972222222vw;
}

.header__column:last-child .header__column-link {
  font-size: 1.25vw;
}

.header__column-title {
  font-family: "William Display Pro Reg";
  font-size: 1.6666666667vw;
  line-height: auto;
  margin-bottom: 1.8055555556vw;
}

.header__column-image {
  width: 10.0694444444vw;
}

.header__column-list {
  display: flex;
  flex-direction: column;
  gap: 0.6944444444vw;
}

.header__column-link {
  color: #333333;
  font-size: 0.9722222222vw;
  line-height: auto;
  transition: color 0.2s ease;
}

.header__column-link:hover {
  color: #ba967d;
}

.header__column-time {
  margin-bottom: 0.6944444444vw;
  font-size: 0.6944444444vw;
  line-height: auto;
  color: #8b9594;
}

.header__column-mediarow {
  display: flex;
  gap: 1.0416666667vw;
}

.header__burger {
  position: relative;
  width: 1.3888888889vw;
  z-index: 600;
  cursor: pointer;
  transition: all 0.1s ease;
}

.header__burger:hover span {
  background-color: #ba967d;
}

.header__burger.open {
  z-index: 600;
}

.header__burger span {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  border-radius: 10px;
  margin: 0.3472222222vw 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.header__burger.open :nth-child(2) {
  transform: scale(0);
}

.header__burger.open span:first-child {
  transform: translateY(0.4861111111vw) rotate(135deg);
}

.header__burger.open span:last-child {
  transform: translateY(-0.4861111111vw) rotate(-135deg);
}

.hero {
  height: 100vh;
  padding-inline: 18.0555555556vw 9.7222222222vw;
  padding-bottom: 30px;
}

.hero__body {
  display: flex;
  gap: 160px;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.hero__social {
  position: absolute;
  left: 4.1666666667vw;
  width: 2.7777777778vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10.8333333333vw;
  height: 100%;
  justify-content: flex-end;
  font-size: 0.9722222222vw;
}

.hero__social-list {
  transform: rotate(180deg);
  display: flex;
  writing-mode: vertical-lr;
  gap: 53px;
}

.hero__lang {
  display: block;
  margin-bottom: 6.3888888889vw;
}

.hero__wrapper {
  display: flex;
  position: relative;
  height: 100%;
}

.hero__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title-wrapper {
  position: relative;
  margin-bottom: 19px;
}

.hero__title-black {
  position: relative;
  z-index: 30;
  overflow: hidden;
  font-family: "William Display Pro Reg";
  font-size: 7.6388888889vw;
  line-height: 110%;
}

.hero__title-border {
  z-index: 100;
  top: 0;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  display: block;
  position: absolute;
  font-family: "William Display Pro Reg";
  font-size: 7.6388888889vw;
  line-height: 110%;
}

.hero__right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 38.8888888889vw;
}

.hero__image {
  z-index: 50;
  position: absolute;
  top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: calc(100vh - 30px);
  width: 38.8888888889vw;
}

.hero__text {
  position: relative;
  z-index: 30;
  font-size: 1.1111111111vw;
  max-width: 26.3888888889vw;
  margin-bottom: 3.125vw;
  line-height: 1.9;
  color: rgba(51, 51, 51, 0.8);
}

.hero__link-wrapper {
  position: relative;
  z-index: 100;
  color: #333333;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-size: 0.9722222222vw;
  line-height: auto;
  letter-spacing: 10%;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.hero__link-wrapper:hover {
  flex-direction: row-reverse;
  justify-content: start;
}

.hero__link-wrapper span {
  content: "";
  width: 8.3333333333vw;
  height: 0.1388888889vw;
  border-radius: 10px;
  background-color: #ba967d;
}

.hero__bg {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.client__header {
  z-index: 100;
  position: relative;
  margin-block: 11.6666666667vw 12.2222222222vw;
}

.client__header::before {
  content: url(../images/qoute_icon.png);
  position: absolute;
  width: 8.3333333333vw;
  height: 6.875vw;
  left: -4.0277777778vw;
  top: -2.1527777778vw;
}

.client__header blockquote {
  position: relative;
  z-index: 100;
  font-family: "William Display Pro Reg";
  font-size: 4.1666666667vw;
  line-height: 130%;
  max-width: 62.3611111111vw;
}

.client__body {
  position: relative;
  display: grid;
  grid-template-columns: 25vw 31.9444444444vw;
  grid-template-areas: "img text1" "img text2";
  margin-bottom: 20.1388888889vw;
}

.client__body::after {
  z-index: 100;
  content: url("../images/letter-a.png");
  display: block;
  position: absolute;
  left: -6.5972222222vw;
  top: -2.0833333333vw;
}

.client__text {
  font-size: 1.1111111111vw;
  line-height: 160%;
  width: 31.9444444444vw;
  color: rgba(51, 51, 51, 0.8);
}

.client__text-wrapper1 {
  grid-area: text1;
}

.client__text-wrapper1 .client__text {
  margin-block: 2.0833333333vw;
}

.client__text-wrapper2 {
  grid-area: text2;
}

.client__text-wrapper1,
.client__text-wrapper2 {
  margin-left: 6.9444444444vw;
}

.client__cap {
  margin-top: 3.4722222222vw;
  color: #8b9594;
  font-size: 1.1111111111vw;
}

.client__title {
  position: relative;
  z-index: 100;
  top: -0.3472222222vw;
  right: 9.7222222222vw;
  margin-top: 1.3888888889vw;
  font-family: "William Display Pro Reg";
  font-size: 3.3333333333vw;
  line-height: 130%;
}

.client__link-wrapper {
  margin-top: 7.7777777778vw;
  display: flex;
  align-items: center;
  gap: 1.1111111111vw;
  color: #333333;
  font-size: 0.9722222222vw;
  letter-spacing: 10%;
  line-height: 26px;
  text-transform: uppercase;
}

.client__link-wrapper span {
  position: relative;
  content: "";
  width: 8.3333333333vw;
  height: 0.1388888889vw;
  background-color: #ba967d;
}

.client__image {
  position: absolute;
  z-index: 50;
  width: 25vw;
  height: 41.6666666667vw;
}

.client__image-wrapper {
  position: relative;
  grid-area: img;
}

.client__background {
  width: 25vw;
  height: 41.6666666667vw;
  background-color: #eeebeb;
  border-radius: 10px;
  position: absolute;
  top: 1.5277777778vw;
  right: -3.6111111111vw;
}

.truth__header {
  position: absolute;
  z-index: 50;
  width: calc(100% - 9.7222222222vw);
}

.truth__image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.truth__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.45);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.truth__bg {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-repeat: no-repeat;
  width: 100%;
}

.truth__cap {
  display: block;
  color: #ffffff;
  opacity: 0.8;
  font-size: 1.25vw;
  line-height: 1.3888888889vw;
  margin-bottom: 1.3194444444vw;
}

.truth__title {
  font-family: "William Display Pro Reg";
  color: #ffffff;
  font-size: 3.3333333333vw;
  line-height: 130%;
  margin-bottom: 3.8888888889vw;
}

.truth__title-wrapper {
  grid-area: title;
  margin-top: 7.0138888889vw;
}

.truth__top-text {
  color: #ffffff;
  font-size: 1.1111111111vw;
  line-height: 160%;
  opacity: 0.8;
  margin-bottom: 17.0833333333vw;
  grid-area: desc;
}

.truth__change {
  grid-area: change;
}

.truth__estetic {
  grid-area: estetic;
}

.truth__body {
  position: relative;
  z-index: 100;
  display: grid;
  grid-template-columns: 25vw 30.4861111111vw;
  grid-template-areas: "title img" "change desc" "change estetic";
  -moz-column-gap: 8.4027777778vw;
  column-gap: 8.4027777778vw;
}

.truth__body::after {
  content: url("../images/letter-d.png");
  display: block;
  position: absolute;
  left: -9.5833333333vw;
  top: -11.1805555556vw;
}

.truth__left-image {
  width: 25vw;
  height: 41.6666666667vw;
  border-radius: 10px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.08);
}

.truth__right-bottom-image,
.truth__right-top-image {
  border-radius: 10px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.08);
}

.truth__right-top-image {
  width: 13.8888888889vw;
  height: 24.3055555556vw;
  display: block;
  margin: -6.1111111111vw auto 0;
  grid-area: img;
}

.truth__right-bottom-image {
  width: 30.4861111111vw;
  height: 20.8333333333vw;
}

.truth__subtitle {
  margin-top: 2.7777777778vw;
  font-family: "William Display Pro Reg";
  font-size: 2.0833333333vw;
  line-height: 2.7777777778vw;
}

.truth__bottom-text {
  color: #666666;
  margin-top: 1.9444444444vw;
  font-size: 1.1111111111vw;
  line-height: 160%;
}

.new__body {
  padding-block: 13.8888888889vw 14.7222222222vw;
  position: relative;
}

.new__body::after {
  content: url("../images/letter-f.png");
  display: block;
  position: absolute;
  left: -115px;
  top: 60px;
}

.new__top {
  margin-bottom: 3.1944444444vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new__title {
  font-family: "William Display Pro Reg";
  font-size: 3.3333333333vw;
  line-height: 130%;
}

.new__scroll {
  width: 4.1666666667vw;
  height: 0.6944444444vw;
}

.new__scroller {
  display: flex;
  gap: 2.7777777778vw;
}

.new__button:hover {
  color: #ba967d;
}

.new__basket-button-svg {
  width: 1.1805555556vw;
  height: 1.3888888889vw;
}

.new__list {
  display: flex;
  gap: 2.7777777778vw;
  min-width: 920px;
}

.new__item {
  transition: all 0.2s ease-in-out;
}

.new__item:hover {
  transform: translateY(-0.3472222222vw);
}

.new__item-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 19.4444444444vw;
  aspect-ratio: 1;
}

.new__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 170px;
  padding: 17px 24px 31px 20px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.new__item-title {
  max-width: 16.0416666667vw;
  font-family: "William Display Pro Reg";
  font-size: 1.6666666667vw;
  line-height: auto;
  margin-bottom: 0.2777777778vw;
}

.new__item-cap {
  font-size: 0.9722222222vw;
  line-height: 140%;
  opacity: 0.5;
}

.new__item-price {
  display: flex;
  justify-content: space-between;
  font-size: 1.1111111111vw;
  line-height: 26px;
}

.new__basket-button:hover {
  transform: scale(1.2);
}

.material {
  position: relative;
}

.material__body {
  position: relative;
  display: grid;
  grid-template-areas: "title img" "text img";
  justify-content: space-between;
  -moz-column-gap: 8.125vw;
  column-gap: 8.125vw;
}

.material__body::after {
  content: url("../images/letter-m.png");
  display: block;
  position: absolute;
  left: -133px;
  top: -145px;
}

.material__info {
  grid-area: title;
  height: 11.3194444444vw;
}

.material__bg {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 50;
  position: absolute;
  top: 180px;
  right: 0;
  width: 66.6666666667vw;
  height: 41.6666666667vw;
}

.material__cap {
  position: relative;
  z-index: 100;
  color: #8b9594;
  font-size: 1.25vw;
  line-height: 1.3888888889vw;
  display: block;
  margin-bottom: 1.3194444444vw;
}

.material__title {
  z-index: 100;
  position: relative;
  font-size: 3.3333333333vw;
  line-height: 130%;
  margin-bottom: 4.6527777778vw;
}

.material__text {
  font-size: 1.1111111111vw;
  z-index: 100;
  position: relative;
  line-height: 1.88;
  max-width: 30.1388888889vw;
  color: rgba(51, 51, 51, 0.8);
  grid-area: text;
}

.material__image {
  width: 25vw;
  height: 41.6666666667vw;
  border-radius: 10px;
  z-index: 100;
  position: relative;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
  grid-area: img;
}

.giza__body {
  margin-top: 26.3888888889vw;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: repeat(2, 30.5555555556vw);
  grid-template-areas: "title text" "img text" "img items";
  -moz-column-gap: 2.6388888889vw;
  column-gap: 2.6388888889vw;
}

.giza__title {
  font-family: "William Display Pro Reg";
  font-size: 3.3333333333vw;
  line-height: 130%;
  margin-bottom: 3.1944444444vw;
  grid-area: title;
}

.giza__image-block {
  position: relative;
  grid-area: img;
}

.giza__image {
  position: relative;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
  width: 25vw;
  height: 41.6666666667vw;
}

.giza__background {
  z-index: 50;
  position: absolute;
  bottom: -2.8472222222vw;
  left: 2.7777777778vw;
  border-radius: 10px;
  background-color: #eeebeb;
  width: 25vw;
  height: 38.8888888889vw;
}

.giza__text {
  margin-top: 1.875vw;
  opacity: 0.8;
  grid-area: text;
  font-size: 1.1111111111vw;
}

.giza__list {
  margin-top: 3.9583333333vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2.9861111111vw;
  height: -moz-fit-content;
  height: fit-content;
  grid-area: items;
}

.giza__item {
  max-width: 14.0277777778vw;
}

.giza__item-number {
  font-size: 2.5vw;
  line-height: 2.7777777778vw;
  color: #ba967d;
  margin-bottom: 0.6944444444vw;
}

.giza__item-title {
  font-family: "William Display Pro Reg";
  font-size: 1.6666666667vw;
  line-height: auto;
  margin-bottom: 1.0416666667vw;
}

.giza__item-text {
  font-size: 1.1111111111vw;
  opacity: 0.8;
  max-width: 13.125vw;
}

.quote__body {
  margin-top: 13.8888888889vw;
  position: relative;
}

.quote__body::before {
  content: url("../images/quote-top.png");
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.quote__body::after {
  content: url("../images/quote-bottom.svg");
  display: block;
  position: absolute;
  height: 158px;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.quote__image-wrapper {
  position: relative;
}

.quote__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.65);
}

.quote__content {
  display: flex;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.quote__bg {
  width: 100%;
  height: 45.1388888889vw;
}

.quote__text {
  color: #ffffff;
  font-family: "William Display Pro Reg";
  font-size: 4.1666666667vw;
  line-height: 130%;
  max-width: 63.8888888889vw;
}

.quote__author {
  color: #ffffff;
  font-family: "William Display Pro Reg";
  font-style: normal;
  font-size: 1.3888888889vw;
  line-height: auto;
}

.quote__footer {
  margin-top: 0.6944444444vw;
  display: flex;
  flex-direction: column;
  gap: 0.6944444444vw;
}

.quote__footer:last-child {
  color: #ffffff;
  opacity: 0.8;
  font-size: 0.8333333333vw;
  letter-spacing: 10%;
  line-height: auto;
}

.quote__arrow-left,
.quote__arrow-right {
  width: 13.8888888889vw;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.quote__arrow-left:hover,
.quote__arrow-right:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.quote__arrow-left {
  justify-content: end;
}

.quote__arrow-right {
  justify-content: start;
}

.advantages__body {
  position: relative;
  margin-top: 13.8888888889vw;
}

.advantages__body::after {
  content: url("../images/letter-a.png");
  display: block;
  position: absolute;
  left: -135px;
  top: -195px;
}

.advantages__cap {
  position: relative;
  z-index: 100;
  display: block;
  font-size: 1.25vw;
  line-height: 1.3888888889vw;
  color: #8b9594;
  margin-bottom: 1.3888888889vw;
}

.advantages__title {
  position: relative;
  z-index: 100;
  font-family: "William Display Pro Reg";
  font-size: 3.3333333333vw;
  line-height: 130%;
  margin-bottom: 3.6805555556vw;
  max-width: 31.9444444444vw;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 19.5138888889vw;
}

.advantages__item:first-child {
  margin-top: 1.5972222222vw;
}

.advantages__item:nth-child(2) {
  margin-top: 4.2361111111vw;
}

.advantages__item:first-child .advantages__item-image {
  margin-bottom: 0.9027777778vw;
}

.advantages__item:nth-child(2) .advantages__item-image {
  margin-left: -0.6944444444vw;
  margin-bottom: 1.5277777778vw;
}

.advantages__item:last-child .advantages__item-image {
  margin-bottom: 0.7638888889vw;
}

.advantages__item-title {
  font-family: "William Display Pro Reg";
  font-size: 1.6666666667vw;
  line-height: auto;
  margin-bottom: 1.3888888889vw;
}

.advantages__item-text {
  font-size: 1.1111111111vw;
  line-height: 1.9444444444vw;
  color: #000000;
  opacity: 0.8;
}

.service__body {
  margin-top: 13.8888888889vw;
  position: relative;
  display: flex;
  gap: 2.7777777778vw;
}

.service__body::after {
  content: url(../images/letter-s.png);
  position: absolute;
  z-index: 100;
  left: -91px;
  top: -127px;
}

.service__left,
.service__right {
  width: 30.5555555556vw;
  min-width: 420px;
}

.service__left {
  position: relative;
}

.service__image {
  position: relative;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
  width: 27.7083333333vw;
  height: 42.2916666667vw;
}

.service__background {
  position: absolute;
  z-index: 50;
  left: 79px;
  top: 89px;
  width: 25vw;
  height: 38.8888888889vw;
  background-color: #eeebeb;
  border-radius: 10px;
}

.service__right {
  margin-top: 3.4027777778vw;
}

.service__cap {
  margin-bottom: 1.3888888889vw;
  display: block;
  font-size: 1.25vw;
  line-height: 1.3888888889vw;
  color: #8b9594;
}

.service__title {
  z-index: 100;
  position: relative;
  right: 11.1805555556vw;
  font-family: "William Display Pro Reg";
  font-size: 3.3333333333vw;
  line-height: 130%;
  margin-bottom: 2.5694444444vw;
}

.service__text {
  font-size: 1.1111111111vw;
  line-height: 1.9444444444vw;
}

.product__body {
  position: relative;
  margin-top: 13.8888888889vw;
}

.product__body::after {
  z-index: 50;
  position: absolute;
  left: -92px;
  top: -127px;
  content: url(../images/letter-p.png);
}

.product__list {
  display: grid;
  grid-template-rows: auto repeat(2, 19.4444444444vw);
  grid-template-areas: "title title title" "beauty bedsheets bedspreads" "pillowcase bedsheets bathroom";
  gap: 2.7777777778vw;
}

.product__title {
  position: relative;
  z-index: 100;
  font-family: "William Display Pro Reg";
  font-size: 3.3333333333vw;
  line-height: 130%;
  grid-area: title;
}

.product__item-bedsheets {
  margin-top: 5vw;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgba(51, 51, 51, 0.3) 100%), url(../images/badsheet.png) center center no-repeat;
  width: 19.4444444444vw;
  height: 40.7638888889vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  grid-area: bedsheets;
  align-items: end;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
}

.product__item-beauty {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(51, 51, 51, 0.3) 100%), url(../images/beauty.png) center center no-repeat;
  border-radius: 10px;
  grid-area: beauty;
  display: flex;
  align-items: end;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
}

.product__item-pillowcase {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(51, 51, 51, 0.3) 100%), url(../images/pillowcase.png) center center no-repeat;
  border-radius: 10px;
  display: flex;
  grid-area: pillowcase;
  align-items: end;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
}

.product__item-bedspreads {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(51, 51, 51, 0.3) 100%), url(../images/bedspreads.png) center center no-repeat;
  margin-top: -7.4305555556vw;
  width: 19.5138888889vw;
  height: 19.9305555556vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  grid-area: bedspreads;
  align-items: end;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
}

.product__item-bathroom {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(51, 51, 51, 0.3) 100%), url(../images/bathroom.png) top center;
  margin-top: -6.875vw;
  border-radius: 10px;
  display: flex;
  grid-area: bathroom;
  align-items: end;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
}

.product__item-link {
  font-family: "William Display Pro Reg";
  font-size: 1.6666666667vw;
  line-height: auto;
  color: #ffffff;
}

.product__item-beauty,
.product__item-pillowcase,
.product__item-bathroom {
  width: 19.4444444444vw;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe {
  background-image: url(../images/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.subscribe__background {
  margin-top: 13.8888888889vw;
  background-color: rgba(51, 51, 51, 0.6);
  height: 100%;
  padding: 4.8611111111vw 0 6.5972222222vw;
}

.subscribe__body {
  text-align: center;
}

.subscribe__title {
  font-family: "William Display Pro Reg";
  font-size: 3.3333333333vw;
  line-height: 130%;
  margin-bottom: 2.0833333333vw;
  color: #ffffff;
}

.subscribe__text {
  margin: 0 auto;
  max-width: 22.0833333333vw;
  margin-bottom: 2.9166666667vw;
  font-size: 1.1111111111vw;
  line-height: 130%;
  color: #ffffff;
}

.subscribe input,
.subscribe__button {
  height: 3.4722222222vw;
  border-radius: 5px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 30px;
}

.subscribe input {
  padding-left: 1.3194444444vw;
  width: 25vw;
  background-color: #ffffff;
}

.subscribe input::-moz-placeholder {
  font-size: 0.9722222222vw;
  line-height: 1.8055555556vw;
  color: #c4c4c4;
}

.subscribe input::placeholder {
  font-size: 0.9722222222vw;
  line-height: 1.8055555556vw;
  color: #c4c4c4;
}

.subscribe__name {
  margin-bottom: 1.3888888889vw;
}

.subscribe__email {
  margin-bottom: 2.0833333333vw;
}

.subscribe__button {
  width: 25vw;
  font-size: 0.9722222222vw;
  line-height: 2.0833333333vw;
  text-transform: uppercase;
  padding-inline: 7.9861111111vw;
  background-color: #ba967d;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.subscribe__button:hover {
  background-color: #eeebeb;
  color: #ba967d;
}

.footer {
  background: #222222;
  line-height: normal;
}

.footer__body {
  padding-block: 3.5416666667vw 3.4722222222vw;
}

.footer__columns {
  display: grid;
  grid-template-rows: 2.7777777778vw 1fr;
  grid-template-columns: repeat(4, 14.375vw);
  grid-template-areas: "logo catalog about more" "contacts catalog about more";
  justify-content: space-between;
  margin-bottom: 5.0694444444vw;
}

.footer__logo {
  width: 10.1388888889vw;
  height: 2.7777777778vw;
  grid-area: logo;
}

.footer__contacts {
  grid-area: contacts;
  margin-top: 4.8333333333vw;
}

.footer__catalog,
.footer__about,
.footer__more {
  margin-top: 0.5555555556vw;
}

.footer__catalog {
  grid-area: catalog;
}

.footer__about {
  grid-area: about;
}

.footer__more {
  grid-area: more;
}

.footer__title {
  font-size: 1.1111111111vw;
  line-height: auto;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 1.2666666667vw;
}

.footer__phone {
  display: block;
  color: #ffffff;
  font-size: 1.6666666667vw;
  line-height: auto;
  margin-bottom: 1.0006944444vw;
  transition: color 0.2s ease-in;
}

.footer__phone:hover {
  color: #ba967d;
}

.footer__timing {
  color: #ffffff;
  opacity: 0.5;
  font-size: 1.1111111111vw;
  line-height: auto;
}

.footer__link {
  font-size: 1.1111111111vw;
  line-height: auto;
  color: #ffffff;
  transition: color 0.2s ease-in;
}

.footer__link:hover {
  color: #ba967d;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1.0416666667vw;
}

.footer__copyright {
  color: #ffffff;
  opacity: 0.5;
  font-size: 1.1111111111vw;
  line-height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 1439px) {
  .container-m {
    max-width: 940px;
    padding-inline: 10px;
  }

  .header {
    padding: 30px 20px;
  }

  .header__catalog {
    margin-right: 75px;
    font-size: 14px;
  }

  .header__logo {
    width: 145px;
    margin-right: 28px;
  }

  .header__tel {
    font-size: 14px;
  }

  .header__burger {
    width: 20px;
    margin-right: 10px;
  }

  .header__burger span {
    margin: 5px 0;
  }

  .header__burger.open span:last-child {
    transform: translateY(-7px) rotate(-135deg);
  }

  .hero {
    min-height: auto;
    height: 780px;
    padding-inline: 0;
  }

  .hero__body {
    max-width: 844px;
    margin: 0 auto;
  }

  .hero__social {
    font-size: 14px;
    left: 20px;
    width: 40px;
    gap: 156px;
    justify-content: center;
  }

  .hero__lang {
    margin-bottom: 0;
  }

  .hero__title-black {
    font-size: 110px;
    line-height: 100%;
  }

  .hero__title-border {
    font-size: 110px;
    line-height: 100%;
  }

  .hero__right {
    height: 100%;
    width: 427px;
  }

  .hero__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .hero__text {
    max-width: 380px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
  }

  .hero__link-wrapper {
    font-size: 14px;
  }

  .hero__link-wrapper span {
    width: 120px;
    height: 2px;
  }

  .client__header {
    margin-block: 200px 170px;
  }

  .client__header::before {
    width: 120px;
    height: 99px;
    left: -58px;
    top: -31px;
  }

  .client__header blockquote {
    font-size: 56px;
    line-height: 80px;
    max-width: 898px;
    margin: 0 auto;
  }

  .client__body {
    grid-template-columns: 360px 460px;
    margin-bottom: 290px;
    height: 641px;
    justify-content: space-evenly;
  }

  .client__body::after {
    left: -95px;
    top: -30px;
  }

  .client__text {
    font-size: 16px;
    width: 418px;
  }

  .client__text-wrapper1,
  .client__text-wrapper2 {
    margin-left: 29px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .client__cap {
    font-size: 16px;
    margin-top: 50px;
  }

  .client__title {
    top: -5px;
    right: 140px;
    margin-top: 20px;
    font-size: 48px;
  }

  .client__link-wrapper {
    margin-top: 10px;
    gap: 16px;
    font-size: 14px;
  }

  .client__link-wrapper span {
    width: 120px;
    height: 2px;
  }

  .client__image {
    width: 360px;
    height: 600px;
  }

  .client__background {
    width: 360px;
    height: 600px;
    top: 40px;
    right: -40px;
  }

  .truth__header {
    width: calc(100% - 47px);
    height: 500px;
  }

  .truth__image-wrapper {
    height: 500px;
  }

  .truth__bg {
    height: 500px;
  }

  .truth__cap {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 19px;
  }

  .truth__title {
    font-size: 46px;
    line-height: 70px;
    margin-bottom: 40px;
  }

  .truth__title-wrapper {
    margin-top: 102px;
  }

  .truth__top-text {
    font-size: 16px;
    margin-bottom: 238px;
  }

  .truth__body {
    -moz-column-gap: 47px;
    column-gap: 47px;
    grid-template-columns: 360px 439px;
  }

  .truth__body::after {
    left: -84px;
    top: -161px;
  }

  .truth__left-image {
    width: 360px;
    height: 600px;
  }

  .truth__right-top-image {
    width: 200px;
    height: 350px;
    margin: -88px auto 0;
  }

  .truth__right-bottom-image {
    width: 439px;
    height: 300px;
  }

  .truth__subtitle {
    margin-top: 40px;
    font-size: 30px;
    line-height: 40px;
  }

  .truth__bottom-text {
    margin-top: 20px;
    font-size: 16px;
  }

  .new__body {
    padding-block: 200px 212px;
  }

  .new__body::after {
    left: -71px;
    top: 41px;
  }

  .new__top {
    margin-bottom: 38px;
  }

  .new__title {
    font-size: 46px;
    line-height: 70px;
  }

  .new__scroll {
    width: 60px;
    height: 10px;
  }

  .new__scroller {
    gap: 40px;
  }

  .new__basket-button-svg {
    width: 17px;
    height: 20px;
  }

  .new__list {
    gap: 40px;
  }

  .new__item-image {
    width: 280px;
  }

  .new__item-title {
    max-width: 231px;
    font-size: 24px;
    margin-bottom: 4px;
  }

  .new__item-cap {
    font-size: 14px;
  }

  .new__item-price {
    font-size: 16px;
  }

  .material__body {
    -moz-column-gap: 50px;
    column-gap: 50px;
    padding-inline: 41px;
  }

  .material__info {
    height: 178px;
  }

  .material__bg {
    width: calc(50% + 238px);
    height: 600px;
  }

  .material__cap {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .material__title {
    font-size: 46px;
    line-height: 70px;
    margin-bottom: 40px;
  }

  .material__text {
    font-size: 16px;
    max-width: 434px;
  }

  .material__image {
    width: 360px;
    height: 600px;
  }

  .giza__body {
    margin-top: 380px;
    grid-template-columns: repeat(2, 440px);
    -moz-column-gap: 2px;
    column-gap: 2px;
  }

  .giza__title {
    font-size: 46px;
    line-height: 70px;
    margin-bottom: 30px;
  }

  .giza__image {
    width: 360px;
    height: 600px;
  }

  .giza__background {
    bottom: -41px;
    left: 40px;
    width: 360px;
    height: 560px;
  }

  .giza__text {
    margin-top: 10px;
    font-size: 16px;
  }

  .giza__list {
    row-gap: 40px;
    margin-top: 60px;
  }

  .giza__item {
    max-width: 202px;
  }

  .giza__item-number {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .giza__item-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .giza__item-text {
    font-size: 16px;
    line-height: 28px;
    max-width: 189px;
  }

  .quote__body {
    margin-top: 200px;
  }

  .quote__bg {
    height: 650px;
  }

  .quote__text {
    max-width: 920px;
    font-size: 50px;
    line-height: auto;
  }

  .quote__author {
    font-size: 20px;
  }

  .quote__footer {
    margin-top: 10px;
    gap: 10px;
  }

  .quote__footer:last-child {
    font-size: 12px;
  }

  .advantages__body {
    margin-top: 200px;
  }

  .advantages__cap {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .advantages__title {
    font-size: 46px;
    line-height: 70px;
    margin-bottom: 37px;
    max-width: 460px;
  }

  .advantages__item {
    max-width: 281px;
  }

  .advantages__item:first-child {
    margin-top: 23px;
  }

  .advantages__item:nth-child(2) {
    margin-top: 61px;
  }

  .advantages__item:first-child .advantages__item-image {
    margin-bottom: 13px;
  }

  .advantages__item:nth-child(2) .advantages__item-image {
    margin-left: -10px;
    margin-bottom: 22px;
  }

  .advantages__item:last-child .advantages__item-image {
    margin-bottom: 11px;
  }

  .advantages__item-title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .advantages__item-text {
    font-size: 16px;
    line-height: 28px;
  }

  .service {
    padding-inline: 20px;
  }

  .service__body {
    gap: 30px;
    margin: 200px auto 0;
    min-width: 920px;
  }

  .service__left {
    max-width: 420px;
  }

  .service__image {
    width: 380px;
    height: 580px;
  }

  .service__background {
    width: 344px;
    height: 580px;
    top: 39px;
  }

  .service__right {
    max-width: 398px;
    margin-top: 49px;
  }

  .service__cap {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .service__title {
    font-size: 46px;
    line-height: 60px;
    right: 97px;
    margin-bottom: 41px;
  }

  .service__text {
    font-size: 16px;
    line-height: 28px;
  }

  .product__body {
    margin-top: 230px;
  }

  .product__list {
    grid-template-rows: auto repeat(2, 280px);
    gap: 40px;
  }

  .product__title {
    font-size: 48px;
    line-height: 70px;
  }

  .product__item-bedsheets {
    width: 280px;
    height: 587px;
    margin-top: 72px;
  }

  .product__item-bedspreads {
    margin-top: -107px;
    width: 281px;
    height: 287px;
  }

  .product__item-bathroom {
    margin-top: -99px;
  }

  .product__item-link {
    font-size: 24px;
  }

  .product__item-beauty,
  .product__item-pillowcase,
  .product__item-bathroom {
    width: 280px;
  }

  .subscribe__background {
    padding: 70px 0 95px;
    margin-top: 200px;
  }

  .subscribe__title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .subscribe__text {
    max-width: 318px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 28px;
  }

  .subscribe input,
  .subscribe__button {
    height: 50px;
  }

  .subscribe input {
    width: 360px;
    padding-left: 19px;
  }

  .subscribe input::-moz-placeholder {
    font-size: 14px;
    line-height: 26;
  }

  .subscribe input::placeholder {
    font-size: 14px;
    line-height: 26;
  }

  .subscribe__name {
    margin-bottom: 20px;
  }

  .subscribe__email {
    margin-bottom: 30px;
  }

  .subscribe__button {
    width: 360px;
    font-size: 14px;
    line-height: 30px;
    padding-inline: 115px;
  }

  .footer__body {
    padding-block: 51px 40px;
  }

  .footer__columns {
    grid-template-columns: repeat(4, 207px);
    grid-template-rows: 40px 1fr;
    margin-bottom: 73px;
  }

  .footer__logo {
    width: 145px;
    height: 40px;
  }

  .footer__contacts {
    margin-top: 69.6px;
  }

  .footer__catalog,
  .footer__about,
  .footer__more {
    margin-top: 8px;
  }

  .footer__title {
    font-size: 16px;
    margin-bottom: 18.24px;
  }

  .footer__phone {
    font-size: 24px;
    margin-bottom: 14.41px;
  }

  .footer__timing {
    font-size: 16px;
  }

  .footer__link {
    font-size: 16px;
  }

  .footer__list {
    gap: 15px;
  }

  .footer__copyright {
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 30px;
  }

  .header__catalog {
    display: none;
  }

  .header__logo {
    color: #ffffff;
  }

  .header__tel {
    display: none;
  }

  .header__column {
    width: 145px;
  }

  .header__burger {
    margin-right: 0;
  }

  .header__burger span {
    background-color: #ffffff;
  }

  .hero {
    position: relative;
    height: 1023px;
    min-height: 100vh;
    padding-bottom: 0;
  }

  .hero__body {
    padding-top: 0;
    max-width: unset;
  }

  .hero__social {
    padding-bottom: 37px;
    justify-content: flex-end;
    color: white;
    z-index: 100;
  }

  .hero__social-list {
    display: none;
  }

  .hero__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-inline: 30px;
  }

  .hero__left {
    padding-top: 346px;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: unset;
  }

  .hero__title-black {
    z-index: 100;
    color: #ffffff;
  }

  .hero__title-border {
    display: none;
  }

  .hero__right {
    width: 100%;
    top: 0;
  }

  .hero__right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 55;
  }

  .hero__image {
    border-radius: 0;
    position: relative;
  }

  .hero__text {
    z-index: 100;
    color: rgba(255, 255, 255, 0.8);
    max-width: 465px;
  }

  .hero__link-wrapper {
    color: #ffffff;
  }

  .client__header {
    margin-block: 150px;
  }

  .client__header::before {
    left: -18px;
  }

  .client__header blockquote {
    font-size: 40px;
    line-height: 50px;
    padding-inline: 20px;
  }

  .client__body {
    max-width: 728px;
    grid-template-columns: 310px 334px;
    padding-inline: 20px;
    box-sizing: content-box;
    margin: 0 auto 239px;
    -moz-column-gap: 64px;
    column-gap: 64px;
  }

  .client__body::after {
    left: -56px;
    top: -51px;
    transform: scale(0.8);
  }

  .client__text {
    width: 334px;
    font-size: 15px;
    line-height: 25px;
  }

  .client__text-wrapper1 .client__text {
    margin-block: 0;
  }

  .client__text-wrapper1,
  .client__text-wrapper2 {
    margin-left: 0;
    max-width: 320px;
  }

  .client__cap {
    font-size: 18px;
    line-height: 20px;
  }

  .client__title {
    font-size: 40px;
    line-height: 50px;
    right: 88px;
  }

  .client__link-wrapper {
    font-size: 12px;
    line-height: 26px;
    gap: 20px;
  }

  .client__image {
    width: 310px;
    height: 523px;
  }

  .client__background {
    width: 312px;
    height: 518px;
    top: 30px;
    right: -29px;
  }

  .truth__header {
    width: calc(100% - 30px);
  }

  .truth__title {
    font-size: 40px;
    line-height: 50px;
  }

  .truth__title-wrapper {
    margin-top: 50px;
  }

  .truth__top-text {
    margin-bottom: 225px;
  }

  .truth__body {
    grid-template-columns: repeat(2, 334px);
    -moz-column-gap: 40px;
    column-gap: 40px;
    padding-inline: 30px;
    justify-content: space-around;
  }

  .truth__body::after {
    left: -77px;
    top: -156px;
    transform: scale(0.8);
  }

  .truth__left-image {
    width: 334px;
    height: 567px;
  }

  .truth__right-top-image {
    width: 153px;
    height: 268px;
  }

  .truth__right-bottom-image {
    width: 334px;
    height: 228px;
  }

  .truth__subtitle {
    line-height: 35px;
  }

  .new__body {
    padding-inline: 20px;
  }

  .new__body::after {
    transform: scale(0.8);
  }

  .new__top {
    margin-bottom: 40px;
  }

  .new__title {
    font-size: 40px;
    line-height: 35px;
  }

  .new__item-image {
    width: 240px;
  }

  .new__item-title {
    font-size: 28px;
    line-height: 35px;
  }

  .material__body {
    margin: 0 auto;
    max-width: 768px;
    padding-inline: 20px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .material__body::after {
    transform: scale(0.8);
    left: -120px;
  }

  .material__info {
    height: 140px;
  }

  .material__bg {
    top: 0;
    height: 660px;
  }

  .material__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 45px;
  }

  .material__text {
    max-width: 330px;
  }

  .material__image {
    width: 334px;
    height: 585px;
    margin-top: -80px;
  }

  .giza__body {
    max-width: 768px;
    margin: 180px auto 0;
    grid-template-columns: 1fr 334px;
    padding-inline: 20px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    grid-template-areas: "title title" "img text" "img items";
  }

  .giza__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  .giza__image {
    width: 310px;
    height: 523px;
  }

  .giza__background {
    top: 26px;
    left: 20px;
    width: 312px;
    height: 518px;
  }

  .giza__text {
    margin-top: 0;
    font-size: 15px;
    line-height: 25px;
  }

  .giza__list {
    margin-top: 30px;
    gap: 30px 20px;
  }

  .giza__item {
    max-width: 157px;
  }

  .giza__item-number {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
  }

  .giza__item-title {
    font-size: 20px;
    line-height: 25px;
  }

  .giza__item-text {
    font-size: 14px;
    line-height: 20px;
    max-width: 170px;
  }

  .quote__body {
    margin-top: 150px;
  }

  .quote__body::before {
    transform: translateX(-50%) scale(0.7);
    top: -76px;
  }

  .quote__body::after {
    transform: translateX(-50%) scale(0.7);
  }

  .quote__content {
    padding-inline: 30px;
  }

  .quote__bg {
    height: 470px;
  }

  .quote__text {
    font-size: 40px;
    line-height: 45px;
  }

  .quote__author {
    font-size: 16px;
  }

  .quote__footer:last-child {
    font-size: 10px;
  }

  .quote__arrow-left,
  .quote__arrow-right {
    display: none;
  }

  .advantages__body {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 768px;
    margin: 125px auto 0;
    padding-inline: 20px;
  }

  .advantages__body::after {
    left: -112px;
    top: -210px;
    transform: scale(0.8);
  }

  .advantages__title {
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 40px;
    max-width: unset;
  }

  .advantages__list {
    justify-content: unset;
    width: -moz-fit-content;
    width: fit-content;
    gap: 40px;
  }

  .advantages__item {
    max-width: 209px;
  }

  .service__body {
    gap: 63px;
    margin-top: 150px;
    min-width: unset;
    max-width: 708px;
  }

  .service__body::after {
    transform: scale(0.8);
  }

  .service__left,
  .service__right {
    width: unset;
    min-width: unset;
  }

  .service__left {
    min-width: 310px;
    max-width: 310px;
  }

  .service__image {
    width: 310px;
    height: 523px;
  }

  .service__background {
    width: 312px;
    height: 518px;
    top: 30px;
    left: 25px;
  }

  .service__right {
    margin-top: 32px;
    max-width: 334px;
    min-width: 334px;
  }

  .service__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 30px;
    width: 420px;
  }

  .product__body {
    margin-top: 150px;
  }

  .product__body::after {
    left: -61px;
    transform: scale(0.8);
  }

  .product__list {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    grid-template-rows: auto repeat(2, 210px);
  }

  .product__title {
    font-size: 40px;
  }

  .product__item-bedsheets {
    margin-top: 32px;
    width: 213px;
    height: 447px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  .product__item-bedspreads {
    padding-bottom: 18px;
    padding-left: 15px;
    margin-top: -94px;
    width: 209px;
    height: 213px;
  }

  .product__item-link {
    font-size: 20px;
  }

  .product__item-beauty,
  .product__item-pillowcase,
  .product__item-bathroom {
    width: 210px;
    padding-left: 13px;
    padding-bottom: 15px;
  }

  .subscribe__background {
    padding: 71px 0 90px;
    margin-top: 150px;
  }

  .subscribe__title {
    font-size: 40px;
    line-height: 30px;
  }

  .subscribe__text {
    margin-bottom: 39px;
    font-size: 15px;
    line-height: 25px;
  }

  .subscribe input,
  .subscribe__button {
    max-width: 314px;
    width: 100%;
  }

  .subscribe__button {
    padding-inline: 90px;
  }

  .footer__body {
    padding-block: 39px 52px;
  }

  .footer__columns {
    grid-template-columns: repeat(3, 207px);
    grid-template-rows: auto auto;
    grid-template-areas: "catalog about more" "logo contacts .";
    gap: 18px 42px;
    padding-inline: 30px;
    max-width: 708px;
    margin: 0 auto;
  }

  .footer__logo {
    align-self: center;
  }

  .footer__contacts {
    margin-top: 0;
  }

  .footer__title {
    line-height: 20px;
    margin-bottom: 10px;
  }

  .footer__phone {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }

  .footer__copyright {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero {
    height: unset;
    max-height: 100vh;
  }

  .hero__left {
    padding-top: 184px;
  }

  .hero__title-wrapper {
    margin-bottom: 15px;
  }

  .hero__title-black {
    font-size: 48px;
    line-height: 50px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .client__header {
    margin-block: 135px 160px;
  }

  .client__header::before {
    top: -55px;
    transform: scale(0.5);
  }

  .client__header blockquote {
    font-size: 28px;
    line-height: 35px;
  }

  .client__body {
    padding-inline: 0px 21px;
    grid-template-columns: 133px 1fr;
    grid-template-areas: "img text1" "text2 text2";
    margin-bottom: 136px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }

  .client__body::after {
    left: -126px;
    top: -196px;
  }

  .client__text {
    width: unset;
    font-size: 14px;
  }

  .client__text-wrapper1 {
    justify-content: unset;
    width: unset;
  }

  .client__text-wrapper1 .client__text {
    opacity: 0.5;
  }

  .client__text-wrapper1,
  .client__text-wrapper2 {
    max-width: unset;
    justify-content: unset;
  }

  .client__cap {
    margin-top: 30px;
    font-size: 14px;
  }

  .client__title {
    font-size: 28px;
    line-height: 35px;
  }

  .client__image {
    width: 171px;
    height: 330px;
    left: -40px;
    top: 10px;
  }

  .client__image-wrapper {
    height: 330px;
    width: 155px;
  }

  .client__background {
    left: 0;
    width: 133px;
    height: 330px;
    right: 38px;
  }

  .truth__header {
    width: 100%;
  }

  .truth__image-wrapper::after {
    border-radius: 0;
  }

  .truth__bg {
    border-radius: 0;
  }

  .truth__cap {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .truth__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .truth__top-text {
    margin-bottom: 35px;
  }

  .truth__change .truth__bottom-text {
    margin-bottom: 20px;
  }

  .truth__body {
    -moz-column-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 1fr 115px;
    grid-template-areas: "title img" "desc desc" "change change" "estetic estetic";
  }

  .truth__left-image {
    width: 315px;
    height: 320px;
  }

  .truth__right-top-image {
    width: 114px;
    height: 200px;
    margin: -40px auto 0;
  }

  .truth__right-bottom-image {
    width: 315px;
    height: 320px;
  }

  .truth__subtitle {
    margin-top: 20px;
  }

  .new__top {
    margin-bottom: 28px;
  }

  .new__title {
    font-size: 28px;
    line-height: 35px;
  }

  .new__scroller {
    display: none;
  }

  .new__list {
    gap: 20px;
    justify-content: unset;
  }

  .new__item-image {
    width: 248px;
  }

  .new__item-title {
    font-size: 24px;
    line-height: auto;
  }

  .new__item-cap {
    line-height: 140%;
  }

  .material__body {
    -moz-column-gap: 12px;
    column-gap: 12px;
    grid-template-areas: "title img" "text text";
    grid-template-columns: 1fr 114px;
  }

  .material__body::after {
    z-index: 100;
    top: -200px;
  }

  .material__info {
    height: 110px;
  }

  .material__bg {
    top: -40px;
    width: 100%;
    border-radius: 0;
  }

  .material__cap {
    font-size: 14px;
  }

  .material__title {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .material__text {
    max-width: unset;
    font-size: 14px;
  }

  .material__image {
    width: 114px;
    height: 200px;
  }

  .giza__body {
    -moz-column-gap: 0;
    column-gap: 0;
    position: relative;
    z-index: 200;
    margin: 35px auto 0;
    grid-template-columns: 1fr;
    grid-template-areas: "img img" "title title" "text text" "items items";
  }

  .giza__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .giza__image-block {
    margin-bottom: 25px;
  }

  .giza__image {
    width: 315px;
    height: 320px;
  }

  .giza__background {
    display: none;
  }

  .giza__text {
    color: rgba(51, 51, 51, 0.8);
    font-size: 14px;
  }

  .giza__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px 20px;
    margin-top: 40px;
  }

  .giza__item {
    max-width: unset;
  }

  .giza__item-number {
    margin-bottom: 10px;
  }

  .giza__item-text {
    font-size: 12px;
    max-width: unset;
  }

  .quote__body {
    margin-top: 90px;
  }

  .quote__text {
    font-size: 26px;
    line-height: 30px;
  }

  .advantages__body {
    margin-top: 140px;
  }

  .advantages__cap {
    font-size: 14px;
  }

  .advantages__title {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantages__item {
    max-width: unset;
  }

  .advantages__item:first-child {
    margin-top: unset;
  }

  .advantages__item:last-child {
    margin-top: 55px;
  }

  .advantages__item:first-child .advantages__item-image {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }

  .advantages__item:nth-child(2) .advantages__item-image {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }

  .advantages__item:last-child .advantages__item-image {
    margin-bottom: 20px;
    width: 56px;
    height: 56px;
  }

  .advantages__item-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
  }

  .service__body {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 18px;
    margin-top: 184px;
  }

  .service__left {
    min-width: 155px;
    left: 0px;
  }

  .service__image {
    width: 155px;
    height: 330px;
    left: -53px;
  }

  .service__background {
    width: 131px;
    height: 330px;
    top: 20px;
    left: -11px;
  }

  .service__right {
    margin-top: 30px;
    max-width: unset;
    min-width: unset;
  }

  .service__cap {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .service__title {
    max-width: 248px;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 10px;
    margin-left: -60px;
    right: 0;
  }

  .service__text {
    font-size: 14px;
    line-height: 25px;
  }

  .product__body {
    margin-top: 145px;
  }

  .product__list {
    padding-inline: 20px;
    width: unset;
    grid-template-rows: auto;
    align-items: end;
    grid-template-areas: "title bedsheets" "pillowcase bedsheets" "bedspreads bedspreads" "beauty bathroom";
    gap: 20px;
  }

  .product__title {
    font-size: 28px;
    line-height: 30px;
  }

  .product__item-bedsheets {
    margin-top: 0;
    width: 100%;
    height: 280px;
    padding: 10px;
  }

  .product__item-bedspreads {
    margin-top: 0;
    padding-bottom: 12px;
    padding-left: 11px;
    width: 100%;
    height: 147px;
  }

  .product__item-bathroom {
    margin-top: 0;
  }

  .product__item-link {
    font-size: 18px;
  }

  .product__item-beauty,
  .product__item-pillowcase,
  .product__item-bathroom {
    aspect-ratio: unset;
    height: 146px;
    width: 100%;
    padding: 10px;
  }

  .subscribe__background {
    margin-top: 70px;
    padding: 71px 0 81px;
  }

  .subscribe__title {
    font-size: 28px;
    line-height: 30px;
  }

  .subscribe__text {
    font-size: 14px;
  }

  .footer__body {
    padding-block: 39px 20px;
  }

  .footer__columns {
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 60px auto;
    grid-template-areas: "catalog" "about" "more" "logo" "contacts";
  }
}